:root {
  --bg-color: #fff;
  --base-color: #444;
  --main-color: #448;
  --accent-color: #484;
}
.content {}
.textBox {
  /* background-color: #ffa; */
  input {
    width: 100%;
    padding: 0.25rem;
    text-align: justify;
  }
}
.btn {
  border: 1px solid var(--main-color);
  border-radius: 0.125rem;
  padding: 0.25rem;
  line-height: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--base-color);
}
.checkbox {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid ;
  input[type=checkbox] {
    &:checked + .checkbox-check:before {
      position: absolute;
      content: '';
      display: block;
      height: 0.75rem;
      width: 1rem;
      left: 0;
      top: -0.25rem;
      transform: rotate(-45deg);
      border-left: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
    }
  }
}

/* --------------------------------- */

.title {
  font-size: 2.5rem;
}
.addBox {
  display: flex;
  align-items: center;
  .addBox-textBox {
    width: calc(100% - 3.5rem);
  }
  .addBox-btn {
    width: 3.5rem;
  }
}
.todoList {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid ;
  border-radius: 0.5rem;
  .todoList-list {
    .todoList-list_line {
      padding: 0.5rem;
      border-bottom: 1px solid;
      &:last-of-type {
        border: none;
      }
    }
  }
  .todoList-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.5rem;
    .todoList-box_fin {
      width: 3.5rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .todoList-box_text {
      flex-grow: 1;
      flex-shrink: 1;
      text-align: justify;
    }
    .todoList-box_delete {
      width: 3.5rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}