@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Klee+One&display=swap');
:root {
  --bg-color: #fff;
  --base-color: #f9f7f0;
  --text-color: #58554b;
  --border-color: #a5aea9;
  /* --border-color: #b8b8b8; */
  --main-color: #9fc3b2;
  --accent-color: #8898c8;
  --danger-color: #cda2a2;
  --yellow-color: #cdc4a2;

  --shadow: 0.125rem 0.125rem 0.5rem #58554b33;

  /* Font */
  --font-family-main: "Klee One", cursive;
  --font-family-title: "Caveat", cursive;
  font-size: 1rem;

  /* --media-sp: 767px;
  --media-tab: 959px;*/
}
html body {
  background-color: var( --base-color);
  font-family: var(--font-family-main);
}
*:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}
.content {
  padding: 0.5rem;
}
input {
  width: 100%;
  padding: 0.25rem;
  border: 2px solid var(--bg-color);
  text-align: justify;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: var(--shadow);
}
.btn {
  display: inline-block;
  transition: .25s;
  padding: 0.25rem 0.25rem 0.325rem;
  line-height: 1rem;
  color: var(--bg-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0.125rem;
  @media screen and (min-width: 767px) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.btn--trash, .btn--trashText {
  background-color: var(--danger-color);
  border: 1px solid var(--danger-color);
}
.btn--trash, .btn--edit {
  height: 1.625rem;
  width: 1.625rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
}
.btn--edit {
  border-radius: 50%;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../assets/icon_edit.svg);
}
.btn--trash {
  background-image: url(../assets/icon_trash.svg);
}
.btn--trashText {
  height: 1.625rem;
  width: auto;
  padding-right: 1.375rem;
  background-image: url(../assets/icon_trash.svg);
  background-repeat: no-repeat;
  background-position: center right 0.25rem;
  background-size: auto 60%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
h1, h2, h3, h4, h5, h6, p {
  color: currentColor;
  /* margin: 0; */

}
.checkbox {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid ;
  input[type=checkbox] {
    &:checked + .checkbox-check:before {
      position: absolute;
      content: '';
      display: block;
      height: 0.75rem;
      width: 1rem;
      left: 0;
      top: -0.25rem;
      transform: rotate(-45deg);
      border-left: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
    }
  }
}

/* --------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 0.5rem 0 0 0.5rem;
  .header-title {
    font-family: var(--font-family-title);
    font-size: 2.5rem;
    color: var(--main-color);
  }
  .header-clock {
font-size: 1rem;
font-weight: bold;
color: var(--main-color);
  }
}
.addBox {
  display: flex;
  max-width: 800px;
  margin: 1rem auto 0 auto;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  .addBox-textBox {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;
    .addBox-textBox_input {
      display: flex;
      align-items: center;
      & + & {
        margin-top: 0.25rem;
      }
      .addBox-textBox_input_title {
        width: 5rem;
      }
    }
  }
  .addBox-btn {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.todoListHead {
  margin: 0.5rem auto 0.125rem;
  max-width: 800px;
  text-align: right;
}
.todoList {
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  @media screen and (min-width: 767px) {
  }
  & + & {
    margin-top: 1rem;
  }
  .todoList-header {
    position: relative;
    padding: 0.5rem;
    color: var(--bg-color);
    background-color: var(--main-color);
    border-bottom: solid 1px var(--border-color);
    .todoList-header_title {
      text-align: center;
      padding: 0 2.5rem;
    }
    .todoList-header_num {
      position: absolute;
      font-size: 0.875rem;
      right: 0.25rem;
      bottom: 0.25rem;
    }
  }
  .todoList-sortBox {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .btn:not(.ts-active) {
      background-color: --var(--bg-color);
      color: var(--text-color);
      border: 1px solid var(--bg-color);
    }
  }
  .todoList-list {
    padding: 0 0.5rem;
    .todoList-list_line {
      padding: 0.5rem 0;
      border-bottom: 2px dotted var(--border-color);
    }
  }
  .todoList-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    .todoList-box_fin {
      flex-grow: 0;
      font-size: 0.75rem;
      flex-shrink: 0;
    }
    .todoList-box_text {
      flex-grow: 1;
      flex-shrink: 1;
      text-align: justify;
    }
    .todoList-box_edit {
      gap: 0.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.75rem;
      @media screen and (min-width: 767px) {
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
      }
      .todoList-box_edit_date {
        span{
          font-weight: bold;
          padding: 0.125rem 0.5rem 0.25rem;
          border-radius: 0.25rem;
          &.todoList-box_edit_date--red {
            color: var(--base-color);
            background-color: var(--danger-color);
          }
          &.todoList-box_edit_date--yellow {
            color: var(--base-color);
            background-color: var(--yellow-color);
          }
        }
      }
      button {
        display: inline-block;
      }
    }
  }
  .todoList-editBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.5rem;
    .todoList-editBox_text {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      @media screen and (min-width: 767px) {
        flex-wrap: nowrap;
      }
      .todoList-editBox_text_title {
        padding: 0.5rem 0;
        min-width: 4rem;
      }
      input {
        width: 100%;
        text-align: justify;
        width: calc(100% - 4.5rem);
        @media screen and (min-width: 767px) {
          width: calc(50% - 4.75rem);
        }
      }
    }
    .todoList-editBox_btn {
      font-size: 0.75rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .todoList-notfound {
    padding: 0.5rem;
    text-align: center;
  }
  .todoList-footer {
    display: flex;
    font-size: 0.75rem;
    padding: 0.5rem;
    justify-content: flex-end;
  }
}
.function {
  margin: 5rem auto 0;
  padding: 1rem;
  max-width: 800px;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  .function-title {
    font-size: 1.25rem;
  }
  ul {
    margin-top: 1rem;
    list-style:disc;
    padding-left: 1.5rem;
    li {
      & + & {
        margin-top: 0.5rem;
      }
    }
  }
}


/* TypeScript */
.ts-deleting {
  transition: 0.3s;
  opacity: 0;
}